@using Subscription.Service
@using Newtonsoft.Json

<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>@ViewBag.Title</title>
    <script>
        @{
            var controllerName = ViewContext.RouteData.Values["controller"] != null ? ViewContext.RouteData.Values["controller"].ToString() : "";
            var actionName = ViewContext.RouteData.Values["action"] != null ? ViewContext.RouteData.Values["action"].ToString() : "";
            var areaName = ViewContext.RouteData.Values["area"] != null ? ViewContext.RouteData.Values["area"].ToString() : "";
            string isUserLoggedIn = JsonConvert.SerializeObject(ServiceFactory.Instance.GlobalVariableService.UserLoggedWithDetail != null);
            string loggedInUserDetail = "''";
            if (ServiceFactory.Instance.GlobalVariableService.UserLoggedWithDetail != null)
            {
                loggedInUserDetail = JsonConvert.SerializeObject(ServiceFactory.Instance.UserService.MapUserToNonConfidentialInfo());
            }
        }
        var controllerName =  '@controllerName';
        var actionName =  '@actionName';
        var areaName = '@areaName';


        var globalBaseServerUrl = '@(Url.Content("~/",true))';
        var currentBaseServerUrl = '@(Url.Content("~/",true))';


        var isUserLoggedIn = @Html.Raw(isUserLoggedIn)
        var loggedInUserDetail = @Html.Raw(loggedInUserDetail)
    </script>

    @Styles.Render("~/Scripts/custom/css/index.css")
    @Styles.Render("~/Scripts/custom/css/main.css")
    @Styles.Render("~/Scripts/custom/css/bootstrap.css")
    @Styles.Render("~/Scripts/custom/css/select.min.css")
    @Styles.Render("~/bundles/bower-front-end-css")
</head>
<body ng-app="baseModule">
    <div ng-controller="baseController">
        <div class="grid-container js-grid-container">
            <!-- header start -->
            <header class="header">
                <div class="header__left">
                    <div class="header__logo">
                        <a href=""><img src="~/Content/images/logo/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="header__title">
                    <h1>Login</h1>
                </div>
            </header>



            @Scripts.Render("~/bundles/jquery-js")
            @Scripts.Render("~/bundles/bootstrap-js")
            @Scripts.Render("~/bundles/theme-js")
            @Scripts.Render("~/bundles/theme-front-end-front-js")


            @Scripts.Render("~/bundles/mandatory-front-end-js")
            @Scripts.Render("~/bundles/bower-front-end-js")
            @Scripts.Render("~/bundles/authentication-js")
            @Scripts.Render("~/bundles/angular-common-js")
            @Scripts.Render("~/bundles/plugins-js")
            @Scripts.Render("~/bundles/angular-base-js")
            @Scripts.Render("~/bundles/angular-after-load-js")
            @Scripts.Render("~/bundles/angular-directives")

            @RenderBody()

            <!-- footer start -->
            <footer class="footer">
                <div class="footer__logo">
                    <img src="~/Content/images/logo/logo.png" alt="">
                </div>
            </footer>
            <!-- footer end -->
        </div>

            <!--footer>
            <p>&copy; @*DateTime.Now.Year*@ - Powered by Pentagon Solutions Ltd </p>
        </!footer-->
        </div>
</body>
</html>